[Desktop Entry]
Name=org-protocol
Exec=emacsclient -c -n -s /run/user/1000/emacs/server %u
Type=Application
Terminal=false
Categories=System;
MimeType=x-scheme-handler/org-protocol;